body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .container {
    display: flex;
    justify-content: space-between; /* Logo αριστερά, menu δεξιά */
    align-items: center;            /* Κάθετη στοίχιση */
    background-color: #1F2937;
    color: #f9f7f8;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}
.header ul li {
    display: inline;
    padding-left: 10px;
}

.header ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.header-area-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-area-paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

.page-header-area .container {
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    display: flex;
}

.img-header-item img {
    border-radius: 10px;
    margin-left: 50px;
}

.page-header-area button {
    margin-top: 20px;
    border: none;
}

button {
    background-color: #2882F6;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
}
button a {
    color: #ffffff;
    text-decoration: none;
}

.main-content-area {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-content-area .container {
    display: block;
    padding-right: 15%;
    padding-left: 15%
}

.main-content-area .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.recipe {
    text-align: center;
}
.recipe img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.grid-info {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: 900;
}

.quote-area {
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote-area .container {
    display: block;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.author {
    position: absolute;
    right: 20%;
    font-weight: 700;
    font-size: 18px;
    color: #4B5563;
}
.newsletter-area {
    background-color: #3882F6;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.newsletter-area .container {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: space-between;

}

.cta-text {
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.cta-text h3, p {
    margin: 0;
}

.newsletter-area button {
    border: 2px solid #ffffff;
}

.copyright .container{
    display: block;
    background-color: #1F2937;
    color: #ffffff;
    padding: 20px;
}

.copyright p {
    text-align: center;
}